{% extends 'firstapp/layouts/main.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/vali.css' %}">
<section id="hero">
    <div class="hero-container">
     <div class="container">
       <div class="form-box" style="margin-top: 20px;">
           <form method="POST" action="{% url "login" %}">
               {% csrf_token %}
               {% for message in messages %}
               <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
               {{message}}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
               </div>
               {% endfor %}
               <h2>Login</h2>
               
               <div class="input-box">
                   <input type="text" name="username" placeholder="Username">
                   <i class="fa-solid fa-user fa-lg"></i>
               </div>
               <div class="input-box">
                   <input type="password" name="password" placeholder="password">
                   <i class="fa-solid fa-lock fa-lg"></i>
               </div>
               <div class="button">
                   <input type="submit" class="btn" value="Login">
                   
               </div>
               <div class="group">
                   <span><a style="margin-top: 10px;" href="#">Forget-password</a></span>
                   <span><a href="#">Login</a></span>
               </div>
           </form>
{% endblock content %}